# Local terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
secrets.auto.tfvars
terraform.tfvars

# other common dev files/folders
/.ssh
/.idea
/.vscode